{% extends 'organisations/base.html' %}

{% block content %}
  <!--Section: Contact v.2-->
  <section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Customer Resigstraions Form</h2>
  <!--Section description-->
  
<div class="container">
  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="customer-form" name="customer-form" action="{% url 'custreg' %}" method="POST">
            {% csrf_token %}
              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="email" class="">Oraganisation Id</label>
                      <input type="text" id="orgid" name="orgid" class="form-control">
                      
                  </div>
                  </div>
                  <!--Grid column-->

              </div>
              
              <div class="row">


                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="name" class="">Name</label>
                      <input type="text" id="name" name="custname" class="form-control">
                      
                  </div>
                  </div>
                  <!--Grid column-->

                  

              </div>
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="email" class="">Email</label>
                      <input type="text" id="email" name="custemail" class="form-control">
                      
                      
                  </div>
                  </div>
                  <!--Grid column-->

              </div>
             
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="Phone" class="">Phone</label>
                      <input type="text" id="Phone" name="custphone" class="form-control">
                       
                  </div>
                  </div>
                  <!--Grid column-->
                </div>

                <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="dectonate" class="">Dectonate</label>
                      <input type="text" id="dectonate" name="custstatus" class="form-control">
                       
                  </div>
                  </div>
                  <!--Grid column-->
                </div>

              

              <!--Grid row-->

              
              

          </form>

          <div class="text-center text-md-left">
              <a class="btn btn-primary" onclick="document.getElementById('customer-form').submit();">Send</a>
          </div>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

     
     

  </div>

</section>
<!--Section: Contact v.2-->
{% endblock %}