{% extends 'organisations/base.html' %}

{% block content %}
  <!--Section: Contact v.2-->
  <section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Customer Resigstraions Form</h2>
  <!--Section description-->
  
<div class="container">
  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="orglogin-form" name="orglogin-form" action="{% url 'orglogin' %}" method="POST">
            {% csrf_token %}
              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="orgemail" class="">Email:</label>
                      <input type="text" id="orgemail" name="orgemail" class="form-control">
                      
                  </div>
                  </div>
                  <!--Grid column-->

              </div>
              
              <div class="row">


                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="orgpass" class="">Password:</label>
                      <input type="password" id="orgpass" name="orgpass" class="form-control">
                      
                  </div>
                  </div>
                  
            
          <div class="text-center text-md-left">
              <a class="btn btn-primary" onclick="document.getElementById('orglogin-form').submit();">Send</a>
          </div>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

     
     

  </div>

</section>
<!--Section: Contact v.2-->
{% endblock %}