{% extends 'organisations/dashboard.html' %}

{% block content2 %}
  <!--Section: Contact v.2-->
  <br>
  <br>
  <section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Outstanding Form</h2>
  <!--Section description-->
  
<div class="container">
  {% if messages %}
  <div class=row>
      <div class='col-sm-6 col-sm-offset-3'>
    
        {% for message in messages %}
        <p {% if message.tags == 'success' %} class="alert alert-success" {% endif %} >{{ message }}</p>
        
        {% endfor %}
        
        
      </div>
   </div>   
{% endif %}
  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="outstanding-form" name="outstanding-form" action="{% url 'outstanding' %}" method="POST">
            {% csrf_token %}
              <!--Grid row-->
              
             
              
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="custid" class="">Customer Name</label>
                        
                         <select name = "custid">
                          {% for customer in customer %}
                          <option value= {{ customer.id  }}>{{ customer.custname }}</option>
                          {% endfor %}
                        </select>
                      
                  </div>
                  </div>
                  <!--Grid column-->

                  

              </div>
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="bill_no" class="">Bill Number</label>
                      <input type="text" id="bill_no" name="bill_no" class="form-control">
                      
                  </div>
                  </div>
                  <!--Grid column-->

                  

              </div>
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="bill_amt" class="">Bill Amount</label>
                      <input type="text" id="bill_amt" name="bill_amt" class="form-control">
                      
                  </div>
                  </div>
                  <!--Grid column-->

                  

              </div>
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="due_amt" class="">Due Amount</label>
                      <input type="text" id="due_amt" name="due_amt" class="form-control">
                      
                  </div>
                  </div>
                  <!--Grid column-->

                  

              </div>
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <label for="bill_date" class="">Bill Date</label>
                    <input type="date" id="bill_date" name="bill_date" class="form-control">
                    
                </div>
                </div>
                <!--Grid column-->

                

            </div>
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <label for="cleared_on" class="">Cleared_on</label>
                    <input type="date" id="cleared_on" name="cleared_on" class="form-control">
                    
                </div>
                </div>
              <!--Grid row-->

              
              
            </div>
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <label for="credit_period" class="">Credit_period</label>
                    <input type="text" id="credit_period" name="creditperiod" class="form-control">
                    
                </div>
                </div>
              <!--Grid row-->

              
              
            </div>
          </form>

          <div class="text-center text-md-left">
              <a class="btn btn-primary" onclick="document.getElementById('outstanding-form').submit();">Send</a>
          </div>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

     
     

  </div>

</section>
<!--Section: Contact v.2-->
{% endblock %}