{% extends 'organisations/dashboard.html' %}

{% block content2 %}
  <!--Section: Contact v.2-->
  <br>
  <br>
  <section class="mb-4">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Payment Form</h2>
  <!--Section description-->
  
<div class="container">
  {% if messages %}
  <div class=row>
      <div class='col-sm-6 col-sm-offset-3'>
    
        {% for message in messages %}
        <p {% if message.tags == 'success' %} class="alert alert-success" {% endif %} >{{ message }}</p>
        
        {% endfor %}
        
        
      </div>
   </div>   
{% endif %}
  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="outstanding-form" name="outstanding-form" action="{% url 'payment' %}" method="POST">
            {% csrf_token %}
              <!--Grid row-->
              
             
              
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="custid" class="">Customer Name</label>
                        
                         <select name = "custid" class="form-control">
                          {% for customer in customer %}
                          <option value= {{ customer.id  }}>{{ customer.custname }}</option>
                          {% endfor %}
                        </select>
                      
                  </div>
                  </div>
                </div>
                <br>

                  <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="bill_no" class="">Amount</label>
                      <input type="text" id="amount" name="amount" class="form-control">
                      
                  </div>
                  </div>
                  <!--Grid column-->

                  

              </div>

      
    </form>
    <br>
    <div class="text-center text-md-left">
              <a class="btn btn-primary" onclick="document.getElementById('outstanding-form').submit();">Payment</a>
    </div>
</section>
<!--Section: Contact v.2-->
{% endblock %}