<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Customers Records</title>  
     {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ORGANISATIONS ID</th>  
        <th>NAME</th>  
        <th>EMAIL</th>  
        <th>PHONE</th>  
        <th>DECTONATE</th> <th></th>
        <th>ACTIONS</th>
         
        
    </tr>  
    </thead>  
    <tbody>  
{% for customer in customers %}  
    <tr>  
        <td>{{ customer.orgid }}</td>  
        <td>{{ customer.custname }}</td>  
        <td>{{ customer.custemail }}</td>  
        <td>{{ customer.custphn}}</td>
        <td>{{ customer.custstatus}}</td><td></td>
        <td><a href="/editcust/{{ customer.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit
            </span></button></a></td>
            <td><a href="/deletecust/{{customer.id}}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true">
                </span>Delete</button></a></td>    
        
    
        <td>  
            
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
 
 
</body>  
</html>  