{% extends 'organisations/dashboard.html' %}
{%load static %}
  {% block content2%}
             
     {% load staticfiles %}

     <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src=" {{media_url}} {{orgdata.orglogo}} "alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{ orgdata.orgname }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ orgdata.orgname }}</a>
                                                    </h5>
                                                    <span class="email">{{ orgdata.orglogo}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
     <br>
     <br>
     <br> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  

<section class="mb-4">
 
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>CUST ID</th>
        <th>CUST NAME</th>  
        <th>BILL NO.</th>  
        <th>BILL AMT</th>  
        <th>DUE AMT</th> 
        <th>BILL DATE</th> 
        <th>CLEARED ON</th>
        <th>CREDIT PERIOD</th>
    </tr>  
    </thead>  
    <tbody>  



{% for c in debtors %}  
    <tr>  
        <td>{{ c.id }}</td>
        <td>{{ c.custname }}</td>
        <td>{{ c.bill_no }}</td>   
        <td>{{ c.bill_amt }}</td> 
        <td>{{ c.due_amt}}</td> 
        <td>{{ c.bill_date }}</td>
        <td>{{ c.cleared_on }}</td>
        <td>{{ c.creditperiod}}</td>
        <td><a href="/mail/{{ c.id }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true">Send Mail
            </span></button></a></td>
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
</section>
{% endblock %}